In [13]:
import json

with open("/home/broodling/finQA/Results/text2SQL_0823.json", "r") as file:
  datas = json.load(file)

with open("/home/broodling/finQA/datasets/FinQA/dataset/train.json", "r") as q:
  ques = json.load(q)

print(len(datas))
print(len(ques))

6251
6251

In [ ]:
filt = []
for data in datas:
  data = data.replace("SQLQuery:", "")
  data = data.lstrip(" ")
  data = data.lstrip("\n")
  print(data)
  print()
  filt.append(data)

import pandas as pd
df = pd.DataFrame(filt)
df.to_csv('errorCase.csv')

In [30]:
# error analysis
import json

with open("/home/broodling/finQA/post_table_0927_200.json", "r") as f1:
  posts = json.load(f1)

with open("/home/broodling/finQA/pre_table_0927_200.json", "r") as f2:
  pres = json.load(f2)

In [21]:
schemas = []
values = []

for post in posts:
  post = post.replace("TableD", "PostD")
  schema, value = post.split("Values:")
  schema = schema.lstrip("Schema:")
  schema = schema.rstrip("\n")
  schemas.append(schema)
  value = value.lstrip("\n")
  value = value.rstrip("\n")
  nums = value.split(";")
  val = []
  for num in nums[:-1]:
    v = num+";"
    val.append(v)
  #print(schema)
  values.append(val)

print(len(schemas), len(values))

with open("post_schemas_0928.json", "w") as f3:
  json.dump(schemas, f3)

with open("post_values_0928.json", "w") as f4:
  json.dump(values, f4)

200 200

In [40]:
print(pres[3])

Schema:
CREATE TABLE TableD (
    year INT,
    date DATE,
    asset_type VARCHAR(50),
    asset_category VARCHAR(50),
    liability_type VARCHAR(50),
    liability_category VARCHAR(50),
    debt_type VARCHAR(50),
    debt_classification VARCHAR(10),
    agreement_type VARCHAR(50),
    agreement_date DATE,
    payment_term INT,
    fair_value_method VARCHAR(50),
    discount_rate DECIMAL(10, 2)
);

Values:
INSERT INTO TableD (
    year, date, asset_type, asset_category, liability_type, liability_category, debt_type, debt_classification
) VALUES (
    2013, '2013-12-28', 'Grants Receivable', 'Other Current Assets', NULL, NULL, NULL, NULL
);
INSERT INTO TableD (
    year, date, asset_type, asset_category, liability_type, liability_category, debt_type, debt_classification
) VALUES (
    2012, '2012-12-29', 'Grants Receivable', 'Other Long-term Assets', NULL, NULL, NULL, NULL
);
INSERT INTO TableD (
    year, date, NULL, NULL, 'Long-term Debt', 'Other Long-term Liabilities', 'Senior Notes', 'Level 1'
) VALUES (
    NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL
);
INSERT INTO TableD (
    year, date, NULL, NULL, 'Long-term Debt', 'Other Long-term Liabilities', 'Convertible Debentures', 'Level 2'
) VALUES (
    NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL
);
INSERT INTO TableD (
    year, date, NULL, NULL, 'Liability', 'Other Accrued Liabilities', NULL, NULL
) VALUES (
    NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL
);
INSERT INTO TableD (
    year, date, NULL, NULL, 'Liability', 'Other Long-term Liabilities', NULL, NULL
) VALUES (
    NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL
);
INSERT INTO TableD (
    year, date, NULL, NULL, NULL, NULL, 'Cross-License Agreement', NULL
) VALUES (
    NULL, '2011-01-01', NULL, NULL, NULL, NULL, NULL, NULL
);
INSERT INTO TableD (
    year, date, NULL, NULL, NULL, NULL, NULL, NULL
) VALUES (
    NULL, '2013-12-28', NULL, NULL, NULL, NULL, NULL, NULL
);
INSERT INTO TableD (
    year, date, NULL, NULL, NULL, NULL, NULL, NULL
) VALUES (
    NULL, '2012-12-29', NULL, NULL, NULL, NULL, NULL, NULL
);
INSERT INTO TableD (
    year, date, NULL, NULL, NULL, NULL, NULL, NULL
) VALUES (
    NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL
);

In [50]:
schemas = []
values = []


for pre in pres:
  pre = pre.replace("TableD", "PreD")
  ln = pre.split("Values:")
  if(len(ln)==2):
    schema = ln[0]
    value = ln[1]
  else:
    schema, value = pre.split("Values:")[:2]
  schema = schema.lstrip("Schema:")
  schema = schema.rstrip("\n")
  schemas.append(schema)
  value = value.lstrip("\n")
  value = value.rstrip("\n")
  nums = value.split(";")
  val = []
  for num in nums[:-1]:
    v = num+";"
    val.append(v)
  # print(schema)
  values.append(val)

print(len(schemas), len(values))

with open("pre_schemas_0928.json", "w") as f5:
  json.dump(schemas, f5)

with open("pre_values_0928.json", "w") as f6:
  json.dump(values, f6)

200 200

In [1]:
import json
with open("/home/broodling/finQA/table_extract_0928_200.json", "r") as f2:
  tables = json.load(f2)

In [12]:
schemas = []
values = []
c = 0
for table in tables:
  schema, val= table.split("Values:")
  schema = schema.lstrip("Schema:")
  schema = schema.rstrip("\n")
  schemas.append(schema)
  # print(schema)
  val = val.lstrip("\n")
  nums = val.split(";")
  if len(nums)>2:
    nums = nums[:2]
  vals = []
  for num in nums[:-1]:
    v = num+";"
    vals.append(v)
    # print(v)
  values.append(vals)


print(len(schemas), len(values))

with open("table_schemas_0928.json", "w") as f7:
  json.dump(schemas, f7)

with open("table_values_0928.json", "w") as f8:
  json.dump(values, f8)

200 200